

//- doctype html

//- html

//-  head

//-  link(rel="stylesheet" href="style.css")

//-  body

//-  h1 Hello! Welcome to our weather updates. Below are the more recent updates to the high temperature in Jacksonville, Illinois.

//-  p Timestamp: Sept 26th







extends layout

block content
  h1 Hello! Welcome to our weather updates. Below are the most recent updates to the high temperature in  Illinois.
  div#changes
