body {
  background-color: #1AA79D;
  color: Black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  margin-bottom: 5%;
  color: #e9c46a;
}

a {
  color: #00B7FF;
}

ins,
.ins {
  color: green;
}

del,
.del {
  color: red;
}

.stamp{
  margin-top: 4%;
  font-weight: bold;
}

/* grid style */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px solid;
  padding: 5px;
  font-size: 12px;
  font-weight:bolder;
  text-align: center;
}
.grid-item-state {
  color: #e9c46a;
  border-color: #e9c46a;
  font-weight: bolder;
  border: 5px solid;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  grid-column: span 3;
}

button{
   box-shadow: none;
  margin-top: 3%;
  background-color: #e9c46a;
  padding: 0.7%;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

