body {
  background-image: url("background.jpg");
 color: Black;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ins,
.ins {
  color: green;
}

del,
.del {
  color: red;
}


.box{
  margin: auto;
  padding: 2%;
  margin-top: 2%;
width: 75%;
background-color: white;

}

.boxtwo{
  margin: auto;
  padding: 2%;
  margin-top: 4%;
width: 75%;
background-color: white;

}

.stamp{
  margin-top: 4%;
  font-weight: bold;
}

/* grid style */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px solid;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-state {
  border: 5px solid;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column: span 3;
}
